
/* dashboard nav */
.brand-logo{
background-color:#ffffff; border-right:1px solid #ccc;}
.brand-logo a img{width:200px;}

/*sainbu-house-info-page*/
.saibu-detail-page{background-color:#ffffff; 
	box-shadow:0 2px 10px rgba(0, 0, 0, 0.1);
border-radius:7px; padding:30px; margin-bottom:30px;}
.saibu-detail-page .display-row{margin-left:0; margin-right:0;
border:1px solid #dee2e6; border-bottom:none; 
/*background: linear-gradient(45deg, #6a11cb , #2575fc)!important;*/
 padding:12px;}
.saibu-detail-page .display-row h5{margin-bottom:0; color:#ffffff;}
.saibu-detail-page .display-row > div{border-right:1px solid #dee2e6;
padding:12px;}
.saibu-detail-page .detail-heading{margin-left:0; 
	margin-right:0;
 border-bottom:none; 
/*background: linear-gradient(45deg, #fc4a1a, #f7b733)!important;*/
 padding:12px;}
.saibu-detail-page .detail-heading h5{margin-bottom:0; 
}
.saibu-detail-page .detail-heading > div{border-right:1px solid #dee2e6;
padding:12px;}

.saibu-detail-page table{margin-bottom:30px;}
.saibu-detail-page table thead{background: linear-gradient(45deg, #6a11cb , #2575fc)!important;}
.saibu-detail-page table thead td{color:#ffffff;}
.saibu-detail-page table td{vertical-align:middle;}
.saibu-detail-page table img{width:80px;}
.saibu-detail-page table .modal ul{list-style:none; margin:0; padding:0;}
.saibu-detail-page table .modal ul li{margin-bottom:15px;}
.saibu-detail-page table .modal ul li a{width:100%; display:block;}
.saibu-detail-page .data-row{margin-left:0; margin-right:0;
border:1px solid #dee2e6; border-right:none; border-top:none; 
background-color:#333; color:#ffffff;}
.saibu-detail-page .data-row > div{border-right:1px solid #dee2e6;
padding:12px;}

#button-search{
	cursor:pointer;
}


/*profile page*/
.profile-wrap h3{font-weight:normal;}
/*category page*/
.saibu-user-form{background-color:#ffffff; 
	box-shadow:0 2px 10px rgba(0, 0, 0, 0.1);
border-radius:7px; padding:30px; margin-bottom:30px;}
.saibu-user-form h5{margin-bottom:30px;}
.saibu-user-form label{font-size:14px;}
.saibu-user-form .row{margin-right:0; margin-left:0;
	border:1px solid #eee; border-right:none;
border-bottom:none; margin-bottom:30px;}
.saibu-user-form .row > div{border-right:1px solid #eee;
border-bottom:1px solid #eee; padding:15px;}
.saibu-user-form .row > div .form-group{margin-bottom:0 !important;}
.saibu-user-form .form-radio input{margin-right:5px; 
	vertical-align:middle;}
.saibu-user-form .form-radio span{margin-right:15px;
vertical-align:middle;}
.saibu-user-form .form-checkbox input{margin-right:5px; 
	vertical-align:middle;}
.saibu-user-form .form-checkbox span{margin-right:15px;
vertical-align:middle;}

/*detail page*/
.saibu-display-form{background-color:#ffffff; 
	box-shadow:0 2px 10px rgba(0, 0, 0, 0.1);
border-radius:7px; padding:30px; margin-bottom:30px;}
.saibu-display-form .display-row{margin-left:0; margin-right:0;
 padding:12px 0;}
.saibu-display-form .display-row h5{margin-bottom:15px;}
.saibu-display-form .display-row > div{border-right:1px solid #dee2e6;
padding:12px;}
.saibu-display-form .detail-heading{margin-left:0; margin-right:0;
border:1px solid #dee2e6; border-bottom:none; 
background: linear-gradient(45deg, #fc4a1a, #f7b733)!important;
 padding:12px;}
.saibu-display-form .detail-heading h5{margin-bottom:0; color:#ffffff;}
.saibu-display-form .detail-heading > div{border-right:1px solid #dee2e6;
padding:12px;}

/*.saibu-display-form .data-heading-row{margin-left:0; margin-right:0;
 border:1px solid #dee2e6;}  
.saibu-display-form .data-heading-row > div{border-right:1px solid #dee2e6;
padding-top:10px; padding-bottom:10px;}  
.saibu-display-form .data-heading-row span{
	display: inline-block; margin-left:10px;}
	*/
.saibu-display-form .data-heading-row{
	margin-bottom:30px;
}

.saibu-display-form .data-heading-row .media-body{
	padding-left:20px;
}
.saibu-display-form .data-heading-row .media-body table tr th{
	padding:10px;
}
.saibu-display-form .data-heading-row .media-body table tr td{

	padding-left:15px;
}
.saibu-display-form .data-heading-row .house-detail-photo{
	max-width:150px;
	width:150px;
	height:150px;
}
.saibu-display-form table{margin-bottom:0;}
.saibu-display-form table th{
/*	font-size:18px;
color:#DD7A04;*/
}
.saibu-display-form table td{vertical-align:middle;
/*font-size:18px; */}

.saibu-display-form .table-member{
	margin-bottom:30px;
}
.saibu-display-form .table-house{
	margin-bottom:30px;
}
.saibu-display-form .data-row{margin-left:0; margin-right:0;
border:1px solid #dee2e6; border-right:none; 
}
.saibu-display-form .data-row h5{
	font-size:14px;
	
	font-weight:normal;
	color:rgba(0, 0, 0, 0.72);

}
.saibu-display-form .data-row h5 strong{
	/*color:#DD7A04;*/
	}
.saibu-display-form .data-row > div{border-right:1px solid #dee2e6;
padding:12px;}

/*admin item page*/
.saibu-item-form{background-color:#ffffff; 
	box-shadow:0 2px 10px rgba(0, 0, 0, 0.1);
border-radius:7px; padding:30px; margin-bottom:30px;}
.saibu-item-form h5{margin-bottom:30px;}
.saibu-item-form #add-member{margin-bottom:30px;}
.saibu-item-form table{margin-bottom:30px;}
.saibu-item-form table th{vertical-align:middle;}
.saibu-item-form table td{vertical-align:middle;
position:relative;}
.saibu-item-form table td .form-group{margin-bottom:0;}
.btn-print button{
	background-color:#0499dd;
	color:#ffffff;
	border:1px solid #0499dd;
	cursor: pointer;
	font-size: .70rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 9px 19px;
    border-radius: .25rem;
    text-transform: uppercase;
    /*box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075);*/
    transition:all ease 300ms;
}
.btn-print button:hover{
background-color:#0375A9;
}

/* edit house information page*/
.edit-house-info-wrap table th{border-top:none;}
.edit-house-info-wrap table td{border-top:none;
position:relative;}
.edit-house-info-wrap table td input[type="text"]{
	padding:5px;
}
.edit-house-info-wrap table td input[type="tel"]{
	padding:5px;
}
.edit-house-info-wrap table td input[type="number"]{
	padding:5px;
}
.edit-house-info-wrap table td input[type="radio"]{
	margin-left:15px; margin-right:5px;
}
.edit-house-info-wrap table td input[type="checkbox"]{
	margin-left:15px; margin-right:5px;
}
.edit-house-info-wrap h3{font-weight:normal; 
	margin-bottom:15px; 
	border-bottom:1px solid rgba(0,0,0,0.1);
padding:15px;}
/*edit category*/
.edit-house-info-wrap .img-wrap{border-bottom:1px solid rgba(0,0,0,0.1);
padding-bottom:15px; margin-bottom:15px;}

.edit-house-info-wrap img{width:100px; height:100px;
border-radius:50%;  
border:3px solid #ffffff; margin-right:15px;}

/* edit member information page*/
.edit-member-info-wrap table th{border-top:none;}
.edit-member-info-wrap table td{border-top:none;
position:relative;}
.edit-member-info-wrap table td input[type="text"]{
	padding:5px;
}
.edit-member-info-wrap table td select{
	padding:5px;
}
.edit-member-info-wrap table td input[type="tel"]{
	padding:5px;
}
.edit-member-info-wrap table td input[type="number"]{
	padding:5px;
}
.edit-member-info-wrap table td input[type="radio"]{
	margin-left:15px; margin-right:5px;
}
.edit-member-info-wrap table td select{text-transform:capitalize;}
.edit-member-info-wrap h3{font-weight:normal; 
	margin-bottom:15px; 
	border-bottom:1px solid rgba(0,0,0,0.1);
padding:15px;}

	/* setting page*/
.setting-wrap table th{border-top:none;}
.setting-wrap table td{border-top:none;}
.setting-wrap h3{font-weight:normal; 
	margin-bottom:15px; 
	border-bottom:1px solid rgba(0,0,0,0.1);
padding:15px;}
.setting-wrap table td input[type="text"]{
	padding:5px;
}
.setting-wrap table td select{
	padding:5px;
}
.setting-wrap table td input[type="tel"]{
	padding:5px;
}
.setting-wrap table td input[type="number"]{
	padding:5px;
}
.setting-wrap table td input[type="radio"]{
	margin-left:15px; margin-right:5px;
}
.setting-wrap table td select{text-transform:capitalize;
}

	/* profile page*/
	.profile-wrap table th{border-top:none;}
.profile-wrap table td{border-top:none;}
.profile-wrap h3{	margin-bottom:15px; 
	border-bottom:1px solid rgba(0,0,0,0.1);
padding:15px; font-weight:normal;}
.profile-wrap table td input[type="text"]{
	padding:5px;
}
.profile-wrap table td select{
	padding:5px;
}
.profile-wrap table td input[type="tel"]{
	padding:5px;
}
.profile-wrap table td input[type="number"]{
	padding:5px;
}
.profile-wrap table td input[type="email"]{
	padding:5px;
}
.profile-wrap table td input[type="radio"]{
	margin-left:15px; margin-right:5px;
}
.profile-wrap table td select{text-transform:capitalize;
}
.profile-wrap .img-wrap{border-bottom:1px solid rgba(0,0,0,0.1);
padding-bottom:15px; }
.profile-wrap .img-wrap img{width:100px; height:100px; 
border-radius:50%; }

.search-bar{
	margin-left:0;
	margin-bottom:30px;
}

.search-bar input{height:40px;
vertical-align:middle; border-radius:0;
border-top-left-radius:4px;
border-bottom-left-radius:4px;}
.search-bar button{height:40px;
vertical-align:middle; 
background-color:#02ba5a;
border:1px solid #d8d8d8;
color:#ffffff;
border-top-right-radius:4px;
border-bottom-right-radius:4px;
padding-left:15px;
padding-right:15px;
border-left:none;}

.naya_convert{ display:none; }

