<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org/"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <!--favicon-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="icon"
      th:href="@{/assets/images/favicon1.ico}"
      href="assets/images/favicon1.ico"
      type="image/x-icon"
    />
    <link
      th:href="@{/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css}"
      href="assets/plugins/vectormap/jquery-jvectormap-2.0.2.css"
      rel="stylesheet"
    />
    <link
      th:href="@{/assets/plugins/simplebar/css/simplebar.css}"
      href="assets/plugins/simplebar/css/simplebar.css"
      rel="stylesheet"
    />
    <link
      th:href="@{/assets/css/bootstrap.min.css}"
      href="assets/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      th:href="@{/assets/css/animate.css}"
      href="assets/css/animate.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      th:href="@{/assets/css/icons.css}"
      href="assets/css/icons.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      th:href="@{/assets/css/sidebar-menu.css}"
      href="assets/css/sidebar-menu.css"
      rel="stylesheet"
    />
    <link
      th:href="@{/assets/css/app-style.css}"
      href="assets/css/app-style.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      th:href="@{/assets/plugins/jquery.steps/css/jquery.steps.css}"
      href="assets/plugins/jquery.steps/css/jquery.steps.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css"
    />
    <style type="text/css">
      img {
        width: 50px;
        height: auto;
      }
    </style>
    <script
      th:src="@{/assets/js/jquery.min.js}"
      src="assets/js/jquery.min.js"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="container" style="width: 100%">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
          <div class="col-4">
            <h6 class="col-12 mt-5">मिति: २०२२्/१०/१०<span></span></h6>
          </div>
        </div>

        <!-- Page Heading -->
        <div class="row">
          <div class="col-3">
            <h5 class="mt-3 mb-5">
              <span class="text-mt-1">श्रिमान् वाडा अध्यक्ष ज्यू,</span><br />
              <span class="text-mt-1">ल. पु. म. न. पा-२३ वडा कार्यालय</span
              ><br />
              <span class="text-mt-1">धापाखेल, ललितपुर</span>
            </h5>
          </div>
          <div class="col-6"></div>
        </div>
        <div class="row">
          <div class="col-12 mt-12">
            <h2 class="text-center mb-5 mt-5">विद्युत जडान प्रमाण पत्र</h2>

            <h5 class="mt-3">
              <span
                >यस कार्यालयमा खडा गरिएको विद्युत जडान सिफारिस किताब अनुसार
                प्रमाणित गरिन्छ कि <span th:text="${letterMetaData.NAME}"></span> 
              </span>
              को घरमा विद्युत जडान गर्नु पर्ने अनुरोध स्विक्रित गरिन्छ |
            </h5>
            <br />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <!-- 							<div class="mt-3 text-center">
								<img th:src="${#authentication.principal.stamp}">
							</div> -->
          </div>
          <div class="col-md-4"></div>
        </div>
        <div class="row pull-right">
          <h5 class="mt-3">
            <!-- वडा अधक्क्षको नाम: अतुल पोखरेल<span th:text="${registrarNameNep}">अतुल पोखरेल</span><br> -->
            वडा अधक्क्षको नाम: अतुल पोखरेल<br />
            दर्ता मिति:२०२२्/१०/२३ <br />
            हस्ताक्षर:
            <!-- <img th:src="${#authentication.principal.signature}"><br> -->
          </h5>
        </div>
      </div>

      <a href="javaScript:void();" class="back-to-top"
        ><i class="fa fa-angle-double-up"></i>
      </a>
    </div>
    <div class="row mt-4 mt-4">
      <div class="col-md-8 offset-md-4">
        <div class="position-relative" style="right: 240px; top: 200px">
          <a
            sec:authorize="hasAnyRole('CENTRAL_ADMIN', 'WARD_ADMIN', 'WARD_SECRETARY', 'PRINTER', 'REGISTRAR')"
            class="btn btn-success mr-3"
            th:href="@{/e-governance-dashboard/{formId}/list/(formId = ${formId})}"
            ><i class="fa-solid fa-reply-all"></i>पछाडी जानुहोस</a
          >
          <button
            sec:authorize="hasAnyRole('CENTRAL_ADMIN', 'WARD_ADMIN')"
            th:if="${status == 1}"
            class="btn btn-primary stamp-form position-absolute bottom-0 start-50 translate-middle-x"
            id="stamp-form"
            th:data-tokenid="${tokenId}"
            th:data-status="2"
          >
            तोक लगाउनुहोस्
          </button>
          <button
            sec:authorize="hasAnyRole('CENTRAL_ADMIN', 'REGISTRAR')"
            th:if="${status == 2}"
            class="btn btn-primary register-form"
            id="register-form"
            th:data-tokenid="${tokenId}"
            th:data-status="3"
          >
            दर्ता गर्नुहोस्
          </button>
          <button
            sec:authorize="hasAnyRole('CENTRAL_ADMIN', 'WARD_SECRETARY')"
            th:if="${status == 3}"
            class="btn btn-primary process-form"
            id="process-form"
            th:data-tokenid="${tokenId}"
            th:data-status="4"
          >
            प्रक्रिया गर्नुहोस्
          </button>
          <button
            sec:authorize="hasAnyRole('CENTRAL_ADMIN', 'WARD_ADMIN')"
            th:if="${status == 4}"
            class="btn btn-primary verify-form"
            id="verify-form"
            th:data-tokenid="${tokenId}"
            th:data-status="5"
          >
            प्रमाणित गर्नुहोस्
          </button>
          <a
            th:if="${status} == '5'"
            sec:authorize="hasAnyRole('CENTRAL_ADMIN','PRINTER')"
            th:href="@{/e-governance-dashboard/sifaris/print/{tokenId}/{formId}/(tokenId = ${tokenId}, formId=${formId})}"
            class="btn btn-xs btn-success"
            >छापनुहोस्</a
          >
        </div>
      </div>
    </div>

    <div th:replace="~{fragments/scripts :: scripts}"></div>
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"
    ></script>
    <script th:inline="javascript">
      var formId =
        /*[[${formId}]]*/

        $(function () {
          var token = $("meta[name='_csrf']").attr("content");
          var header = $("meta[name='_csrf_header']").attr("content");
          $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
          });
        });

      // Click event handler for order detail link.
      $(".letter-blueprint").on("click", function (event) {
        event.preventDefault();
        let tokenNumber = $(this).attr("data-tokenid");
        let url = `${contextPath}/e-governance-dashboard/sifaris/preview/${tokenNumber}`;
        window.open(url, "_self");
      });

      $(".stamp-form").on("click", function (event) {
        Swal.fire({
          title: "Are you sure to stamp?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, i am sure !",
        }).then((result) => {
          if (result.isConfirmed) {
            let sifarisMetaData = {};
            sifarisMetaData.formId = formId;
            sifarisMetaData.tokenId = $(this).attr("data-tokenid");
            sifarisMetaData.status = $(this).attr("data-status");

            swal.fire({
              text: "please wait...",
              icon: "info",
              showConfirmButton: false,
              allowOutsideClick: false,
              allowEscapeKey: false,
            });
            $.ajax({
              method: "PUT",
              url:
                contextPath +
                "/e-governance-dashboard/updateCertificateStatus/" +
                formId,
              data: JSON.stringify(sifarisMetaData),
              contentType: "application/json",
              processData: false,
              success: function (result) {
                swal
                  .fire({
                    title: "Stamped",
                    text: "Stamped!",
                    icon: "success",
                    closeOnClickOutside: true,
                    closeOnEsc: true,
                  })
                  .then(function () {
                    location.reload();
                  });
              },
              error: function (error) {
                swal
                  .fire({
                    text: error.responseJSON.message,
                    icon: "error",
                    closeOnClickOutside: false,
                    closeOnEsc: false,
                  })
                  .then(function () {
                    location.reload();
                  });
              },
            });
          }
        });
      });

      function getingRegistrationNumber() {
        let regNo = prompt("Please enter registration no");
        return regNo;
      }
      $(".register-form").on("click", function (event) {
        let regNumber = getingRegistrationNumber();

        if (regNumber == null || regNumber == "") {
          return;
        }
        Swal.fire({
          title: "Are you sure to register?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, i am sure !",
        }).then((result) => {
          if (result.isConfirmed) {
            swal.fire({
              text: "please wait...",
              icon: "info",
              showConfirmButton: false,
              allowOutsideClick: false,
              allowEscapeKey: false,
            });
            let sifarisMetaData = {};
            sifarisMetaData.formId = formId;
            sifarisMetaData.tokenId = $(this).attr("data-tokenid");
            sifarisMetaData.status = $(this).attr("data-status");
            sifarisMetaData.regNumber = regNumber;
            $.ajax({
              method: "PUT",
              data: JSON.stringify(sifarisMetaData),
              contentType: "application/json",
              processData: false,
              url:
                contextPath +
                "/e-governance-dashboard/updateCertificateStatus/" +
                formId,
              success: function (result) {
                swal
                  .fire({
                    title: "Registered",
                    text: "Registered!",
                    icon: "success",
                    closeOnClickOutside: true,
                    closeOnEsc: true,
                  })
                  .then(function () {
                    location.reload();
                  });
              },
              error: function (error) {
                swal
                  .fire({
                    text: error.responseJSON.message,
                    icon: "error",
                    closeOnClickOutside: false,
                    closeOnEsc: false,
                  })
                  .then(function () {
                    location.reload();
                  });
              },
            });
          }
        });
      });

      $(".process-form").on("click", function (event) {
        Swal.fire({
          title: "Are you sure to process?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, i am sure !",
        }).then((result) => {
          if (result.isConfirmed) {
            let tokenNumber = $(this).attr("data-tokenid");
            let status = $(this).attr("data-status");
            swal.fire({
              text: "please wait...",
              icon: "info",
              showConfirmButton: false,
              allowOutsideClick: false,
              allowEscapeKey: false,
            });
            let sifarisMetaData = {};
            sifarisMetaData.formId = formId;
            sifarisMetaData.tokenId = $(this).attr("data-tokenid");
            sifarisMetaData.status = $(this).attr("data-status");
            $.ajax({
              method: "PUT",
              url:
                contextPath +
                "/e-governance-dashboard/updateCertificateStatus/" +
                formId,
              data: JSON.stringify(sifarisMetaData),
              contentType: "application/json",
              processData: false,
              success: function (result) {
                swal
                  .fire({
                    title: "Processed",
                    text: "processed!",
                    icon: "success",
                    closeOnClickOutside: true,
                    closeOnEsc: true,
                  })
                  .then(function () {
                    location.reload();
                  });
              },
              error: function (error) {
                swal
                  .fire({
                    text: error.responseJSON.message,
                    icon: "error",
                    closeOnClickOutside: false,
                    closeOnEsc: false,
                  })
                  .then(function () {
                    location.reload();
                  });
              },
            });
          }
        });
      });

      $(".verify-form").on("click", function (event) {
        Swal.fire({
          title: "Are you sure to verify ?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, i am sure !",
        }).then((result) => {
          if (result.isConfirmed) {
            let tokenNumber = $(this).attr("data-tokenid");
            let status = $(this).attr("data-status");
            swal.fire({
              text: "कृपया पर्खनुहोस .......",
              icon: "info",
              showConfirmButton: false,
              allowOutsideClick: false,
              allowEscapeKey: false,
            });
            let sifarisMetaData = {};
            sifarisMetaData.formId = formId;
            sifarisMetaData.tokenId = $(this).attr("data-tokenid");
            sifarisMetaData.status = $(this).attr("data-status");

            $.ajax({
              method: "PUT",
              url:
                contextPath +
                "/e-governance-dashboard/updateCertificateStatus/" +
                formId,
              data: JSON.stringify(sifarisMetaData),
              contentType: "application/json",
              processData: false,
              success: function (result) {
                swal
                  .fire({
                    title: "Verified",
                    text: "Verified!",
                    icon: "success",
                    closeOnClickOutside: true,
                    closeOnEsc: true,
                  })
                  .then(function () {
                    location.reload();
                    // history.back()
                  });
              },
              error: function (error) {
                swal
                  .fire({
                    text: error.responseJSON.message,
                    icon: "error",
                    closeOnClickOutside: false,
                    closeOnEsc: false,
                  })
                  .then(function () {
                    location.reload();
                  });
              },
            });
          }
        });
      });

      $(".edit-form").on("click", function (event) {
        event.preventDefault();

        let tokenNumber = $(this).attr("data-tokenid");
        let url = `${contextPath}/e-governance/electricity-connection/edit/${tokenNumber}`;
        window.open(url);
      });
    </script>
  </body>
</html>
