<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<title>दक्षिणकाली नगरपालिका</title>
<!--favicon-->
<link rel="icon" th:href="@{/assets/images/favicon1.ico}"
	href="assets/images/favicon1.ico" type="image/x-icon" />
<link th:href="@{/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css}"
	href="assets/plugins/vectormap/jquery-jvectormap-2.0.2.css"
	rel="stylesheet" />
<link th:href="@{/assets/plugins/simplebar/css/simplebar.css}"
	href="assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
<link th:href="@{/assets/css/bootstrap.min.css}"
	href="assets/css/bootstrap.min.css" rel="stylesheet" />
<link th:href="@{/assets/css/animate.css}" href="assets/css/animate.css"
	rel="stylesheet" type="text/css" />
<link th:href="@{/assets/css/icons.css}" href="assets/css/icons.css"
	rel="stylesheet" type="text/css" />
<link th:href="@{/assets/css/sidebar-menu.css}"
	href="assets/css/sidebar-menu.css" rel="stylesheet" />
<link th:href="@{/assets/css/app-style.css}"
	href="assets/css/app-style.css" rel="stylesheet" />
<link rel="stylesheet"
	th:href="@{/assets/plugins/datatable/datatables.min.css}"
	href="assets/plugins/datatable/datatables.min.css">
<link rel="stylesheet"
	th:href="@{/assets/plugins/jquery.steps/css/jquery.steps.css}"
	href="assets/plugins/jquery.steps/css/jquery.steps.css">
<script th:src="@{/assets/js/jquery.min.js}"
	src="assets/js/jquery.min.js"></script>
</head>
<body>
	<div id="wrapper">
		<!-- Side bar and header -->
		<div th:replace="~{fragments/public-sidebar :: public-sidebar}"></div>
		<header th:replace="~{fragments/header :: header}" class="header1">
		</header>
		<div class="clearfix"></div>
		<div class="content-wrapper">
			<div class="container-fluid" id="pjax-container">
				<div class="row pt-2 pb-2">
					<div class="col-sm-9">
						<h4 class="page-title">नगरबासी बिवरण कम्प्युटर प्रणाली</h4>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javaScript:void();">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">नगरबासीहरु</li>
						</ol>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="row">
							<div class="col-md-3">
								<div class="ui">
									<label>Show&nbsp; <select id="page-limit-select"
										class="ui input">
											<option value="10">10</option>
											<option value="25">25</option>
											<option value="50">50</option>
											<option value="100">100</option>
											<!-- 10 25 50 100 -->
									</select>&nbsp; entries
									</label>
								</div>
							</div>
							<div class="col-md-3">
								<div class="ui">
									<label>Ward&nbsp; <select id="ward-wise-select"
										class="ui input">
											<option value=""></option>
											<option th:value="${indx.index} + 1"
												th:each="option, indx : ${wards}" th:text="${option}"></option>
									</select>
									</label>
								</div>

							</div>

							<div class="col-md-3">
								<div class="ui">
									<label> Sorted By:&nbsp;<span class="ui"
										id="sortedBySpan"> </span>
									</label>
								</div>
							</div>

							<div class="col-md-3">
								<div class="ui pull-right">
									<label> Search:&nbsp;<span class="ui input"> <input
											type="text" id="search"
											placeholder="घरमुलीको नामबाट खोज्नुहोस" />
									</span>
									</label>
								</div>
							</div>
						</div>


						<div class="row">

							<div class="col-md-3">
								<div class="ui">
									<label> Total House Count:&nbsp;<span class="ui"
										id="totalHouseCount"> </span>
									</label>
								</div>
							</div>
							
							<div class="col-md-3" hidden id="tole-div">
								<div class="ui">
									<label>Tole&nbsp; <select id="tole-wise-select"
										class="ui input">
											<option value="" id="firstOptionTole"></option>
									</select>
									</label>
								</div>
						
								</div>	


						</div>

						<div class="table-responsive household-list padding-panel">
							<table th:if="${residentList.size() > 0}"
								class="table table-striped table-hover" id="grid">
								<thead>
									<tr>
										<th id="IdNumberColumn"><strong>ऋ.स</strong></th>
										<th th:onclick="'sortByFunction(\'ownerName\');'"><strong>घरमुलीको
												नाम</strong></th>
										<th th:onclick="'sortByFunction(\'houseNumber\');'"><strong>घर
												नं</strong></th>
										<th th:onclick="'sortByFunction(\'tole\');'"><strong>टोल</strong></th>
										<th th:onclick="'sortByFunction(\'phoneNumber\');'"><strong>फोन
												नं </strong></th>
										<th th:onclick="'sortByFunction(\'kittaNumber\');'"><strong>कित्ता
												नं</strong></th>
										<th><strong>फोटो</strong></th>
										<th><strong>सदस्य
												संख्या</strong></th>
									</tr>
								</thead>

								<tbody id="resident-body">
									<tr class="" th:each="resident,iteration : ${residentList}">
										<td th:text="${iteration.index + 1}"></td>
										<td th:text="${resident.houseOwner}"></td>
										<td th:text="${resident.houseNo}"></td>
										<td th:text="${resident.tole}"></td>
										<td th:text="${resident.phoneNo}"></td>
										<td th:text="${resident.kittaNo}"></td>
										<td><img th:src="${resident.imageUrl}" width="50px"
											height="50px" th:onerror="'this.src=\'' + @{/assets/images/no-image.png} + '\';'"/></td>
										<td th:text="${resident.totalFamilyMembers}"></td>
									</tr>
								</tbody>

							</table>
							<table
								th:if="${residentList == null || #lists.isEmpty(residentList)}">
								<thead>
									<tr>
										<td><h2>माफ गर्नुहोला | प्रणालीमा कुनैपनि बिवरण
												भेटीएन|</h2></td>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>

				<div class="ui stackable pagination menu pull-right">
					<div class="paginate_button item previous disabled"
						id="grid_previous" href="#" aria-controls="grid" data-dt-idx="0"
						tabindex="0">Previous</div>
					<a class="paginate_button item active" aria-controls="grid"
						data-dt-idx="1" tabindex="0" id="pageNumberPagination">1</a>
					<!-- <a class="paginate_button item active" href="#" aria-controls="grid" data-dt-idx="1" tabindex="0">1</a>
				<a class="paginate_button item " href="#" aria-controls="grid" data-dt-idx="2" tabindex="0">2</a>
				<a class="paginate_button item " href="#" aria-controls="grid" data-dt-idx="3" tabindex="0">3</a>
				<a class="paginate_button item " href="#" aria-controls="grid" data-dt-idx="4" tabindex="0">4</a>
				<a class="paginate_button item " href="#" aria-controls="grid" data-dt-idx="5" tabindex="0">5</a>
				<div class="paginate_button item disabled" id="grid_ellipsis" href="#" aria-controls="grid" data-dt-idx="6" tabindex="0">…</div>
				<a class="paginate_button item " href="#" aria-controls="grid" data-dt-idx="7" tabindex="0">90</a> -->
					<a class="paginate_button item next" id="grid_next" href="#"
						aria-controls="grid" data-dt-idx="8" tabindex="0">Next</a>
				</div>

			</div>
		</div>
		<a href="javaScript:void();" class="back-to-top"><i
			class="fa fa-angle-double-up"></i> </a>
		<!--Start footer-->
		<footer th:replace="~{fragments/footer :: footer}"></footer>
	</div>
	<div th:replace="~{fragments/scripts :: scripts}"></div>
	<script th:inline="javascript">
	
	/*<![CDATA[*/
	var residentList = /*[[${residentList}]]*/'';
	var toleList = /*[[${toles}]]*/'';
	/*]]>*/
	
	let prevLastItemId = 0;
	
	//Google transliteration
	google.load("elements", "1", {
	    packages: "transliteration"
	});
			
	function onLoad() {
	    var options = {
	        sourceLanguage: 'en',
	        destinationLanguage: ['ne'],
	        shortcutKey: 'ctrl+g',
	        transliterationEnabled: true
		    };
		var control =new google.elements.transliteration.TransliterationControl(options);
		var uniElement = $(".unicode input[type='text'], #grid_filter input");
		control.makeTransliteratable(uniElement);
		control.makeTransliteratable(['search']);
		
		onLoadForTole();
	}; 
	
	
	function imgError(image) {
	    image.onerror = "";
	    image.src = "/assets/images/no-image.png";
	    return true;
	}
	
	function onLoadForTole(){
	
	if($("#ward-wise-select").val() !== ''){
				//console.log("ward selected--->",wardNumber);
				$("#tole-div").removeAttr("hidden");
				
				//console.log("toles--->",toleList );
				let optionToAppend = '<option value="" id="firstOptionTole"></option>';
				toleList.forEach( tole => {
					if(tole.wardNumber == $("#ward-wise-select").val()){
					console.log("wardMatch--->",tole.toleName);
					optionToAppend += `<option value="${tole.toleName}" text="${tole.toleName}">${tole.toleName}</option>`;
					}
				}
				);
				
				console.log("OptionToBeAppended",optionToAppend);
				$("#tole-wise-select").html(optionToAppend);
				}
	}
	
	
	$(window).on("load", function(e) {
			onLoad();
	})
	
		var sortBy = "";
		var sortByOrder = 'DESC';
		var count = 0;
		var currentPageNo
		function sortByFunction(sortStr) {
				console.log("OutputtedVal--->" + sortStr);
				sortBy = sortStr;
				sortByOrder = (sortByOrder == 'DESC' ? 'ASC' : 'DESC');
				console.log("sortBy--->" + sortBy);
				console.log("sortByORDER--->" + sortByOrder);
				
				document.getElementById('sortedBySpan').innerHTML = sortBy;
				
				 $("#grid_previous").addClass("disabled");
				currentPageNo = 0;
				let searchKey = $("#search").val();
				let wardNumber = $("#ward-wise-select").val();
				let toleName = $("#tole-wise-select").val();
				let pageLimit = $("#page-limit-select").val();
				console.log("ward-->" + wardNumber);
				let url = contextPath + "/public/resident/sortBy?";
				if(searchKey != ""){
					url += "searchKey=" + searchKey + "&";
				}
				if(wardNumber != ""){
					url += "wardNo=" + wardNumber + "&";
				}
				
				if(toleName != ""){
					url += "toleName=" + toleName + "&";
				}
				//url += "lastSeenId=" + lastItemId + "&";
				//url += "action=next"+ "&";
				url += "sortBy=" + sortBy + "&";
				url += "sortByOrder=" + sortByOrder + "&";
				url += "pageLimit=" + pageLimit;
				console.log("URL--->" + url);
				let finalUrl = encodeURI(url);
						$.ajax({
							url : finalUrl,
							method: "POST",
							contentType: "application/json"
						}).done(function(data) {
							let tablesData = "";
							count = 0;
							if(data.length > 0) {
								data.forEach(item => {
									count += 1;
									tablesData += `<tr><td>${count}</td>
													<td>${item.houseOwner}</td>
													<td>${item.houseNo}</td>
													<td>${item.tole}</td>
													<td>${item.phoneNo}</td>
													<td>${item.kittaNo}</td>
													<td> <img src="${item.imageUrl}" width="50px" height="50px" onerror="imgError(this);"/></td>
													<td>${item.totalFamilyMembers}</td>
												</tr>`;
								});
								$("#resident-body").empty();
								$("#resident-body").append(tablesData);
								prevLastItemId = lastItemId;
								if(data[pageLimit-1] != null){
								lastItemId = data[pageLimit-1].id;
								}else{
									lastItemId = data[data.length-1].id;
								}
								console.log("LastItemIdUpdated--->"+ lastItemId);
								firstItemId = data[0].id;
								console.log("firstItemUpdated-->"+ firstItemId);
								$("#grid_previous").addClass("disabled");
								$("#grid_next").removeClass("disabled");
								document.getElementById("pageNumberPagination").innerHTML = currentPageNo + 1;
							}else{
								swal.fire({
										  text: 'Sorry | No more Data!',
										  icon: 'warning',
										  confirmButtonText: 'OK'
									});
								$("#grid_next").addClass("disabled");
							}
						});

				
		}
		
	
		$(function() {
			function fixedEncodeURIComponent(str) {
// 				  return encodeURIComponent(str).replace(/[!'()*]/g, function(c) {
				    return '%' + c.charCodeAt(0).toString(16);
				  //});
			}
			
			$(function () {
	    	    var token = $("meta[name='_csrf']").attr("content");
	    	    var header = $("meta[name='_csrf_header']").attr("content");
	    	    $(document).ajaxSend(function(e, xhr, options) {
	    	        xhr.setRequestHeader(header, token);
	    	    });
	    	});

			 document.getElementById('sortedBySpan').innerHTML = 'None';
			 $("#IdNumberColumn").on("click", function(event){
				 location.reload();
			 });
			 
			$("#search").on("keypress", function(event) {
				if(event.which == 13 && event.keyCode == 13) {
					let searchKey = $(this).val();
					let wardNumber = $("#ward-wise-select").val();
					let toleName = $("#tole-wise-select").val();
					let pageLimit = $("#page-limit-select").val();
					console.log("ward-->" + wardNumber);
					$("#totalHouseCount").html('');
					currentPageNo = 0;
					let finalUrl = encodeURI(contextPath + "/public/resident/search" + "?searchKey=" + encodeURIComponent(searchKey) + "&wardNo=" + wardNumber+ "&toleName=" + toleName + "&pageSize=" + pageLimit);
					if(searchKey === "") {
						swal.fire({
							  text: 'कृपया नाम दिन नभुल्नुहोला!',
							  icon: 'info',
							  confirmButtonText: 'OK'
						});
					} else {
						if(searchKey) {
							$.ajax({
								url : finalUrl,
								method: "POST",
								contentType: "application/json"
							}).done(function(data) {
								let tablesData = "";
								count = 0;
								if(data.length > 0) {
									data.forEach(item => {
										count += 1;
										tablesData += `<tr><td>${count}</td>
														<td>${item.houseOwner}</td>
														<td>${item.houseNo}</td>
														<td>${item.tole}</td>
														<td>${item.phoneNo}</td>
														<td>${item.kittaNo}</td>
														<td> <img src="${item.imageUrl}" width="50px" height="50px" onerror="imgError(this);"/></td>
														<td>${item.totalFamilyMembers}</td>
													</tr>`;
									});
									$("#resident-body").empty();
									$("#resident-body").append(tablesData);
									prevLastItemId = lastItemId;
									lastItemId = data[data.length-1].id;
									console.log("LastItemIdUpdated--->"+ lastItemId);
									firstItemId = data[0].id;
									$("#grid_previous").addClass("disabled");
									$("#grid_next").removeClass("disabled");
									document.getElementById("pageNumberPagination").innerHTML = currentPageNo + 1;
									
								} else {
									swal.fire({
										  text: 'माफ गर्नुहोला | प्रणालीमा कुनैपनि बिवरण भेटीएन!',
										  icon: 'warning',
										  confirmButtonText: 'OK'
									});
								}
							}).fail(function(data) {
								alert(data);
							});
						}
					}
				}
			});
		});
		
		
		$("#ward-wise-select").on("change", function(event) {
				$("#search").val("");
				let wardNumber = $(this).val();
				let wardNumberz = $("#ward-wise-select").val();
				if(wardNumber !== ''){
				console.log("ward selected--->",wardNumber);
				$("#tole-div").removeAttr("hidden");
				
				//console.log("toles--->",toleList );
				let optionToAppend = '<option value="" id="firstOptionTole"></option>';
				toleList.forEach( tole => {
					if(tole.wardNumber == wardNumber){
					console.log("wardMatch--->",tole.toleName);
					optionToAppend += `<option value="${tole.toleName}" text="${tole.toleName}">${tole.toleName}</option>`;
					}
				}
				);
				
				console.log("OptionToBeAppended",optionToAppend);
				$("#tole-wise-select").html(optionToAppend);
				}else{
				console.log("ward empty selected--->",wardNumber);
				$("#tole-div").attr("hidden","");
					$("#tole-wise-select").val("");
					console.log("New selectedTole--->",$("#tole-wise-select").val());
					$("#totalHouseCount").html('');				
				}
				let pageLimit = $("#page-limit-select").val();
				console.log("ward-->" + wardNumber);
				currentPageNo = 0;
				let appurl = "";
				if(sortBy != ""){
					appurl += "&sortBy=" + sortBy + "&";
					appurl += "sortByOrder=" + sortByOrder;
				}
				let finalUrl = encodeURI(contextPath + "/public/resident/ward" + "?wardNo=" + wardNumber + "&pageSize=" + pageLimit + appurl);
						$.ajax({
							url : finalUrl,
							method: "POST",
							contentType: "application/json"
						}).done(function(data) {
							let tablesData = "";
							count = 0;
							if(data.length > 0) {
								data.forEach(item => {
									count += 1;
									tablesData += `<tr><td>${count}</td>
													<td>${item.houseOwner}</td>
													<td>${item.houseNo}</td>
													<td>${item.tole}</td>
													<td>${item.phoneNo}</td>
													<td>${item.kittaNo}</td>
													<td> <img src="${item.imageUrl}" width="50px" height="50px" onerror="imgError(this);"/></td>
													<td>${item.totalFamilyMembers}</td>
												</tr>`;
								});
								$("#resident-body").empty();
								$("#resident-body").append(tablesData);
								prevLastItemId = lastItemId;
								lastItemId = data[data.length-1].id;
								console.log("LastItemIdUpdated--->"+ lastItemId);
								firstItemId = data[0].id;
								$("#grid_previous").addClass("disabled");
								$("#grid_next").removeClass("disabled");
								document.getElementById("pageNumberPagination").innerHTML = currentPageNo + 1;
								
								let houseCountUrl = encodeURI(contextPath + "resident/getTotalHouseCount/" + wardNumber);
								 $.ajax({url: houseCountUrl, success: function(result){
								 	console.log("HouseCountUrl---->" + houseCountUrl);
								 	console.log("Resutl---->" + result);
     								document.getElementById("totalHouseCount").innerHTML = result.data;
  								}});
								
								
								
							}else{
								swal.fire({
									  text: 'Sorry | No Data for this ward!',
									  icon: 'warning',
									  confirmButtonText: 'OK'
								});
								$("#resident-body").empty();
								document.getElementById("totalHouseCount").innerHTML = 0;
							}
						});
	});
	
	
	<!--//Tole-wise Start -->
	
		$("#tole-wise-select").on("change", function(event) {
				$("#search").val("");
				let wardNumber = $("#ward-wise-select").val();
				let toleName = $(this).val();
				let pageLimit = $("#page-limit-select").val();
				console.log("ward-->" + wardNumber);
				console.log("toleName-->" + toleName);
				currentPageNo = 0;
				let appurl = "";
				if(sortBy != ""){
					appurl += "&sortBy=" + sortBy + "&";
					appurl += "sortByOrder=" + sortByOrder;
				}
				let finalUrl = encodeURI(contextPath + "/public/resident/tole" + "?wardNo=" + wardNumber + "&toleName=" + toleName + "&pageSize=" + pageLimit + appurl);
						$.ajax({
							url : finalUrl,
							method: "POST",
							contentType: "application/json"
						}).done(function(data) {
							let tablesData = "";
							count = 0;
							if(data.length > 0) {
								data.forEach(item => {
									count += 1;
									tablesData += `<tr><td>${count}</td>
													<td>${item.houseOwner}</td>
													<td>${item.houseNo}</td>
													<td>${item.tole}</td>
													<td>${item.phoneNo}</td>
													<td>${item.kittaNo}</td>
													<td> <img src="${item.imageUrl}" width="50px" height="50px" onerror="imgError(this);"/></td>
													<td>${item.totalFamilyMembers}</td>
												</tr>`;
								});
								$("#resident-body").empty();
								$("#resident-body").append(tablesData);
								prevLastItemId = lastItemId;
								lastItemId = data[data.length-1].id;
								console.log("LastItemIdUpdated--->"+ lastItemId);
								firstItemId = data[0].id;
								$("#grid_previous").addClass("disabled");
								$("#grid_next").removeClass("disabled");
								document.getElementById("pageNumberPagination").innerHTML = currentPageNo + 1;
								
								let houseCountUrl = encodeURI(contextPath + "resident/getTotalHouseCount/" + wardNumber + "?toleName=" + toleName);
								 $.ajax({url: houseCountUrl, success: function(result){
								 	console.log("HouseCountUrl---->" + houseCountUrl);
								 	console.log("Resutl---->" + result);
     								document.getElementById("totalHouseCount").innerHTML = result.data;
  								}});
								
								
								
							}else{
								swal.fire({
									  text: 'Sorry | No Data for this ward!',
									  icon: 'warning',
									  confirmButtonText: 'OK'
								});
								$("#resident-body").empty();
								document.getElementById("totalHouseCount").innerHTML = 0;
							}
						});
	});
	
<!--	//Tole-wise End -->
	
		
		$("#page-limit-select").on("change", function(event) {
			//$("#search").val("");
			let pageLimit = $(this).val();
			let wardNumber = $("#ward-wise-select").val();
			let toleName = $("#tole-wise-select").val();
			let searchKey = $("#search").val();
			//let pageLimit = $("#page-limit-select").val();
			console.log("ward-->" + wardNumber);
			console.log("toleName-->" + toleName);
			currentPageNo = 0;
			let appurl = "";
			if(sortBy != ""){
				appurl += "&sortBy=" + sortBy + "&";
				appurl += "sortByOrder=" + sortByOrder;
			}
			
			let finalUrl = encodeURI(contextPath + "/public/resident/pageLimit" + "?wardNo=" + wardNumber+ "&toleName=" + toleName + "&pageSize=" + pageLimit + "&searchKey=" + searchKey + "&lastSeenId=" + firstItemId + appurl);
					$.ajax({
						url : finalUrl,
						method: "POST",
						contentType: "application/json"
					}).done(function(data) {
						let tablesData = "";
						count = 0;
						if(data.length > 0) {
							data.forEach(item => {
								count += 1;
								tablesData += `<tr><td>${count}</td>
												<td>${item.houseOwner}</td>
												<td>${item.houseNo}</td>
												<td>${item.tole}</td>
												<td>${item.phoneNo}</td>
												<td>${item.kittaNo}</td>
												<td> <img src="${item.imageUrl}" width="50px" height="50px" onerror="imgError(this);"/></td>
												<td>${item.totalFamilyMembers}</td>
											</tr>`;
							});
							$("#resident-body").empty();
							$("#resident-body").append(tablesData);
							lastItemId = data[data.length-1].id;
							console.log("LastItemIdUpdated--->"+ lastItemId);
							firstItemId = data[0].id;
							document.getElementById("pageNumberPagination").innerHTML = currentPageNo + 1;
						}
					});
});
		

			var firstItemId = residentList[0].id;
	    	   console.log("firstItemId--->" + firstItemId);
	    	   let pageCount = $("#page-limit-select").val();
	    	   //var lastItemId = residentList[pageCount-1].id;
	    	   var lastItemId = residentList[residentList.length - 1].id;
	    	   prevLastItemId = lastItemId;
	    	   console.log("ResidentListSize--->" + residentList.length);
	    	   console.log("LastItemId--->" + lastItemId);
	    	   var currentPageNo = 0;
		
		$("#grid_next").on("click", function(event) {
			//$("#search").val("");
				$("#grid_previous").removeClass("disabled");
				let searchKey = $("#search").val();
				//let wardNumber = $(this).val();
				let wardNumber = $("#ward-wise-select").val();
				let toleName = $("#tole-wise-select").val();
				let pageLimit = $("#page-limit-select").val();
				console.log("ward-->" + wardNumber);
				currentPageNo ++;
				console.log("CurrentPageNo--->" + currentPageNo);
				
				//var lastItemId = residentList[pageLimit-1].id;
				let url = contextPath + "/public/resident/nextLot?";
				if(searchKey != ""){
					url += "searchKey=" + searchKey + "&";
				}
				if(wardNumber != ""){
					url += "wardNo=" + wardNumber + "&";
				} else {
					url += "wardNo=&";
				}
				
				if(toleName != ""){
					url += "toleName=" + toleName + "&";
				}
				
				url += "lastSeenId=" + lastItemId + "&";
				url += "action=next"+ "&";
				
				if(sortBy != ""){
					url += "sortBy=" + sortBy + "&";
					url += "sortByOrder=" + sortByOrder + "&";
				}
				url += "currentPage=" + currentPageNo + "&";
				url += "pageLimit=" + pageLimit;
				console.log("URL--->" + url);
				let finalUrl = encodeURI(url);
						$.ajax({
							url : finalUrl,
							method: "POST",
							contentType: "application/json"
						}).done(function(data) {
							let tablesData = "";
							count = currentPageNo * pageLimit;
							if(data.length > 0) {
								data.forEach(item => {
									count += 1;
									tablesData += `<tr><td>${count}</td>
													<td>${item.houseOwner}</td>
													<td>${item.houseNo}</td>
													<td>${item.tole}</td>
													<td>${item.phoneNo}</td>
													<td>${item.kittaNo}</td>
													<td> <img src="${item.imageUrl}" width="50px" height="50px" onerror="imgError(this);"/></td>
													<td>${item.totalFamilyMembers}</td>
												</tr>`;
								});
								$("#resident-body").empty();
								$("#resident-body").append(tablesData);
								prevLastItemId = lastItemId;
								if(data[pageLimit-1] != null){
								lastItemId = data[pageLimit-1].id;
								}else{
									lastItemId = data[data.length-1].id;
								}
								console.log("LastItemIdUpdated--->"+ lastItemId);
								firstItemId = data[0].id;
								console.log("firstItemUpdated-->"+ firstItemId);
								document.getElementById("pageNumberPagination").innerHTML = currentPageNo + 1;
							}else{
								swal.fire({
										  text: 'Sorry | No more Data!',
										  icon: 'warning',
										  confirmButtonText: 'OK'
									});
								$("#grid_next").addClass("disabled");
								currentPageNo --;
							}
						});
	});


	$("#grid_previous").on("click", function(event) {
			//$("#search").val("");
				$("#grid_next").removeClass("disabled");
				let searchKey = $("#search").val();
				//let wardNumber = $(this).val();
				let wardNumber = $("#ward-wise-select").val();
				let toleName = $("#tole-wise-select").val();
				let pageLimit = $("#page-limit-select").val();
				console.log("myPageLimit--->" + pageLimit);
				console.log("ward-->" + wardNumber);
				//var lastItemId = residentList[pageLimit-1].id;
				currentPageNo --;
				console.log("CurrentPageNo--->" + currentPageNo);
				
				let url = contextPath + "/public/resident/nextLot?";
				if(searchKey != ""){
					url += "searchKey=" + searchKey + "&";
				}
				if(wardNumber != ""){
					url += "wardNo=" + wardNumber + "&";
				} else {
					url += "wardNo=&";
				}
				
				if(toleName != ""){
					url += "toleName=" + toleName + "&";
				}
				url += "lastSeenId=" + firstItemId + "&";
				url += "action=prev"+ "&";
				
				if(sortBy != ""){
					url += "sortBy=" + sortBy + "&";
					url += "sortByOrder=" + sortByOrder + "&";
				}
				url += "currentPage=" + currentPageNo + "&";
				
				url += "pageLimit=" + pageLimit;
				console.log("URL--->" + url);
				let finalUrl = encodeURI(url);
						$.ajax({
							url : finalUrl,
							method: "POST",
							contentType: "application/json"
						}).done(function(data) {
							let tablesData = "";
							let count = currentPageNo * pageLimit;
							if(data.length > 0) {
								data.forEach(item => {
									count += 1;
									tablesData += `<tr><td>${count}</td>
													<td>${item.houseOwner}</td>
													<td>${item.houseNo}</td>
													<td>${item.tole}</td>
													<td>${item.phoneNo}</td>
													<td>${item.kittaNo}</td>
													<td> <img src="${item.imageUrl}" width="50px" height="50px" onerror="imgError(this);"/></td>
													<td>${item.totalFamilyMembers}</td>
												</tr>`;
								});
								$("#resident-body").empty();
								$("#resident-body").append(tablesData);
								firstItemId = data[0].id;
								console.log("firstItemIdUpdated--->"+ firstItemId);
								prevLastItemId = lastItemId;
								lastItemId = data[data.length-1].id;
								document.getElementById("pageNumberPagination").innerHTML = currentPageNo + 1;
							}else{
								swal.fire({
										  text: 'Sorry | No new Data!',
										  icon: 'warning',
										  confirmButtonText: 'OK'
									});
								$("#grid_previous").addClass("disabled");
								currentPageNo ++;
							}
						});
	});	
	
	function gotoResDetailsPage(residentId){
	console.log('Clicked on the ahref', residentId);
	
				let searchKey = $("#search").val();
				let wardNumber = $("#ward-wise-select").val();
				let toleName = $("#tole-wise-select").val();
				let pageLimit = $("#page-limit-select").val();
				//currentPageNo;
				
				
				let url = contextPath + "/public/resident/" + residentId + "?parentHTML=res-data&";
				
				if(searchKey != ""){
					url += "searchKey=" + searchKey + "&";
				}
				if(wardNumber != ""){
					url += "wardNo=" + wardNumber + "&";
				}
				
				if(toleName != ""){
					url += "toleName=" + toleName + "&";
				}
				url += "prevLastItemId=" + prevLastItemId + "&";
				
				if(sortBy != ""){
					url += "sortBy=" + sortBy + "&";
					url += "sortByOrder=" + sortByOrder + "&";
				}
				
				url += "currentPage=" + currentPageNo + "&";
				url += "pageLimit=" + pageLimit;
	
	
	 window.location.href = url;
	

	
	
	}
	
	
			var getParams = function (url) {
			var params = {};
			var parser = document.createElement('a');
			parser.href = url;
			var query = parser.search.substring(1);
			var vars = query.split('&');
			for (var i = 0; i < vars.length; i++) {
				var pair = vars[i].split('=');
				params[pair[0]] = decodeURIComponent(pair[1]);
			}
			return params;
		};
		

		
		function initFuncFetchData(){
		
		var urlObj = getParams(window.location.href);
		$("#grid_previous").removeClass("disabled");
		
		
				let searchKey = urlObj.searchKey;
				let wardNumber = urlObj.wardNo;
				let toleName = urlObj.toleName;
				let pageLimit = urlObj.pageLimit;
				currentPageNo = +urlObj.currentPage ;
				console.log("CurrentPageNo--->" + currentPageNo);
				
				//var lastItemId = residentList[pageLimit-1].id;
				let url = contextPath + "/public/resident/nextLot?";
				if(searchKey){
					$("#search").val(searchKey);
					url += "searchKey=" + searchKey + "&";
				}
				if(wardNumber){
				$("#ward-wise-select").val(wardNumber);
					url += "wardNo=" + wardNumber + "&";
				}
				
				if(toleName){
				
				$("#tole-div").removeAttr("hidden");
				
				//console.log("toles--->",toleList );
				let optionToAppend = '<option value="" id="firstOptionTole"></option>';
				toleList.forEach( tole => {
					if(tole.wardNumber == wardNumber){
					console.log("wardMatch--->",tole.toleName);
					optionToAppend += `<option value="${tole.toleName}" text="${tole.toleName}">${tole.toleName}</option>`;
					}
				}
				);
				
				console.log("OptionToBeAppended",optionToAppend);
				$("#tole-wise-select").html(optionToAppend);
				
				
				$("#tole-wise-select").val(toleName);
					url += "toleName=" + toleName + "&";
				}
				
				$("#page-limit-select").val(pageLimit);
				url += "lastSeenId=" + urlObj.prevLastItemId + "&";
				url += "action=next"+ "&";
				
				if(urlObj.sortBy){
					url += "sortBy=" + urlObj.sortBy + "&";
					url += "sortByOrder=" + urlObj.sortByOrder + "&";
				}
				url += "currentPage=" + currentPageNo + "&";
				url += "pageLimit=" + pageLimit;
				console.log("URL--->" + url);
				let finalUrl = encodeURI(url);
						$.ajax({
							url : finalUrl,
							method: "POST",
							contentType: "application/json"
						}).done(function(data) {
							let tablesData = "";
							count = currentPageNo * pageLimit;
							if(data.length > 0) {
								data.forEach(item => {
									count += 1;
									tablesData += `<tr><td>${count}</td>
													<td>${item.houseOwner}</td>
													<td>${item.houseNo}</td>
													<td>${item.tole}</td>
													<td>${item.phoneNo}</td>
													<td>${item.kittaNo}</td>
													<td> <img src="${item.imageUrl}" width="50px" height="50px" onerror="imgError(this);"/></td>
													<td>${item.totalFamilyMembers}</td>
												</tr>`;
								});
								$("#resident-body").empty();
								$("#resident-body").append(tablesData);
								prevLastItemId = lastItemId;
								if(data[pageLimit-1] != null){
								lastItemId = data[pageLimit-1].id;
								}else{
									lastItemId = data[data.length-1].id;
								}
								console.log("LastItemIdUpdated--->"+ lastItemId);
								firstItemId = data[0].id;
								console.log("firstItemUpdated-->"+ firstItemId);
								document.getElementById("pageNumberPagination").innerHTML = currentPageNo + 1;
							}else{
								swal.fire({
										  text: 'Sorry | No more Data!',
										  icon: 'warning',
										  confirmButtonText: 'OK'
									});
								$("#grid_next").addClass("disabled");
								currentPageNo --;
							}
						});
						}
	</script>
</body>
</html>