<!DOCTYPE html>
<html
        lang="en" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
      <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Ipalika: Reset Password</title>
    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.png}" href="../static/images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/forget-password.css" th:href="@{/css/forget-password.css}" />
</head>
<body>
<div id="sc-password">
    <h1>Reset Password</h1>
    <div class="loader-holder">
        <div class="loader"></div>
    </div>
    <div class="sc-container">
        <input id="password-reset" type="password" placeholder="New Password" />
        <input id="password-repeat" type="password" placeholder="Re-enter password" />
        <input id="user-id-pw-reset" type="hidden" th:value="${userId}" />
        <input id="button-reset" type="submit" value="Reset Password" />
    </div>
</div>
<!-- Footer -->
<!--Script for resetting the password-->
<div th:replace="~{fragments/scripts :: scripts}"></div>
<script type="text/javascript">
  
  $(function () {
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    console.log('token = ' + token);
    console.log("header = " + header);
    $(document).ajaxSend(function (e, xhr, options) {
      xhr.setRequestHeader(header, token);
    });
  });
</script>
<script>
        const resetButton = document.getElementById("button-reset");
        resetButton.onclick = function () {
            let password = $('#password-reset').val();
            let repeatPassword = $('#password-repeat').val();
            let pwResetUserId = $('#user-id-pw-reset').val();
            if (password.length <6){
                Swal.fire(
                  'Sorry',
                  'Password must be at least 6 characters long!',
                  'warning'
                )
            }
            else{
            if (password != repeatPassword){
                Swal.fire(
                  'Sorry',
                  'Two password fields does not match!',
                  'error'
                )
            } else {
                Swal.fire({
                      title: "कृपया पर्खनुहोस ....",
                      showConfirmButton: false,
                      allowOutsideClick: false,
                      allowEscapeKey: false,
                    });
                    const passwordData = {};
                    passwordData.password = repeatPassword;
                    passwordData.userId = pwResetUserId;
                    console.log(passwordData);
                $.ajax({
                    method: "POST",
                    url: contextPath +"/forgot-password/resetPassword",
                    data:JSON.stringify(passwordData),
                    contentType: "application/json",
                    success: function (response) {
                        console.log("response ");
                        console.log(response);
                        Swal.fire(
                          'Enjoy!',
                          'Password has been reset successfully !',
                          'success'
                        ).then(function () {
                                  window.location = contextPath + "/login";
                        });
                    }, error(data){
                        console.log("error");
                    }
                });
                // ===================================
            // $.ajax({
            //     method: "POST",
            //     url: contextPath+ "/forgot-password/resetPassword",
            //     data: JSON.stringify(passwordData),
            //     contentType: "application/json",
            //     success: function (response) {
            //         console.log("The response from the check is ->"+response);

            //     },error(data){
            //       console.log("error ");
            //     }
            // })
            }
        }
    }
    </script>

</body>
</html>