<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<meta charset="UTF-8">
</head>
<body>
	<!--Start footer-->
	<footer th:fragment="footer" class="footer">
		<div class="container">
			<div class="text-center">
				Copyright © <span id="current-year"> </span> दक्षिणकाली नगरपालिका, Nepal. All Rights Reserved.
				<br>Developed by <a href="http://www.digisoftdev.com/"
					target="_blank">Digisoft Developers</a>
			</div>
		</div>
	</footer>
	<!--End wrapper-->
</body>
</html>