<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
</head>
<body>
	<!-- Start wrapper-->
		<!-- Start side bar-wrapper -->
		<div th:fragment="private-sidebar" id="sidebar-wrapper" class="bg-theme bg-theme2" data-simplebar=""
			data-simplebar-auto-hide="true">
			<div class="brand-logo">
<!-- 				<a th:href="@{/super-admin}">  -->
				<img
					th:src="@{/assets/images/logo.png}" class="logo-icon"
					alt="logo icon">
<!-- 				</a> -->
			</div>
			<div class="user-details">
				<div class="media align-items-center user-pointer collapsed"
					data-toggle="collapse" data-target="#user-dropdown">
					<div class="media-body">
						<h6 class="side-user-name" th:text="${#authentication.principal.fullName}"></h6>
					</div>
				</div>
				<div id="user-dropdown" class="collapse">
					<ul class="user-setting-menu">
						<li><a th:href="@{/user/profile}"><i
								class="icon-user"></i> My Profile</a></li>
						<li><a th:href="@{/user/setting}"><i
								class="icon-settings"></i> Setting</a></li>
						<li><a th:href="@{/logout}"><i class="icon-power"></i>
								Logout</a></li>
					</ul>
				</div>
			</div>
			<ul class="sidebar-menu do-nicescrol">
				<li class="sidebar-header">MAIN NAVIGATION</li>
				<li sec:authorize="hasAnyRole('SUPER_ADMIN', 'CENTRAL_ADMIN', 'WARD_ADMIN')">
					<a th:href="@{/report}" class="waves-effect"> <i
							class="zmdi zmdi-view-dashboard"></i> <span>Dashboard</span>
					</a>
				</li>
				<li sec:authorize="hasAnyRole('SUPER_ADMIN', 'CENTRAL_ADMIN')">
					<a th:href="@{/ward}"
					class="waves-effect"> <i class="zmdi zmdi-format-list-numbered"></i> <span>Ward List</span>
					</a>
				</li>
				<li sec:authorize="hasAnyRole('WARD_ADMIN')">
					<a th:href="@{/ward/} + ${#authentication.principal.wardNo}"
					class="waves-effect"> <i class="zmdi zmdi-file-text"></i> <span>Ward Details</span>
					</a>
				</li>
				<li sec:authorize="hasAnyRole('SUPER_ADMIN', 'CENTRAL_ADMIN')">
					<a th:href="@{/user/userList}"
					class="waves-effect"> <i class="zmdi zmdi-assignment-account"></i> <span>User List</span>
					</a>
				</li>
				<li sec:authorize="hasAnyRole('SUPER_ADMIN', 'CENTRAL_ADMIN')">
					<a th:href="@{/user/add}"
					class="waves-effect"> <i class="zmdi zmdi-account-add"></i> <span>Add User</span>
					</a>
				</li>
				<li sec:authorize="hasAnyRole('CENTRAL_ADMIN', 'WARD_ADMIN', 'SURVEYOR')">
					<a th:href="@{/resident}" class="waves-effect">
						<i class="zmdi zmdi-layers"></i> <span>Data</span>
					</a>
				</li>
				<li sec:authorize="hasAnyRole('CENTRAL_ADMIN', 'WARD_ADMIN')">
					<a th:href="@{/member}" class="waves-effect">
						<i class="zmdi zmdi-assignment"></i> <span>Member Data</span>
					</a>
				</li>
				<li sec:authorize="hasAnyRole('CENTRAL_ADMIN', 'WARD_ADMIN', 'SURVEYOR')">
					<a th:href="@{/survey-answer/household}"
					class="waves-effect"> <i class="zmdi zmdi-home"></i> <span>Add
							House</span>
					</a>
				</li>
				<li sec:authorize="hasAnyRole('CENTRAL_ADMIN', 'WARD_ADMIN', 'SURVEYOR')">
					<a th:href="@{/favourite-place/add}"
						class="waves-effect"> <i class="zmdi zmdi-gps-dot"></i> 
						<span>Add Place</span>
					</a>
				</li>
				<li sec:authorize="hasAnyRole('CENTRAL_ADMIN', 'WARD_ADMIN')">
					<a th:href="@{/favourite-place}"
						class="waves-effect"><i class="zmdi zmdi-map"></i> <span>Favorite Places</span>
					</a>
				</li>
				
				<li sec:authorize="hasAnyRole('SURVEYOR')">
					<a th:href="@{/favourite-place/surveyor}"
						class="waves-effect"><i class="zmdi zmdi-map"></i> <span>Favorite Places</span>
					</a>
				</li>
				<li sec:authorize="hasAnyRole('CENTRAL_ADMIN' ,'WARD_ADMIN', 'WARD_SECRETARY', 'REGISTRAR', 'PRINTER')">
					<a th:href="@{/e-governance-dashboard}"
						class="waves-effect"><i class="zmdi zmdi-map"></i> <span>Online Sifaris Dashboard</span>
					</a>
				</li>

				<li sec:authorize="hasAnyRole('NORMAL', 'CENTRAL_ADMIN' ,'WARD_ADMIN', 'WARD_SECRETARY', 'REGISTRAR', 'PRINTER')">
					<a th:href="@{/online-sifaris/online-form}"
						class="waves-effect"><i class="zmdi zmdi-map"></i> <span>Online Sifaris forms</span>
					</a>
				</li>
				<li sec:authorize="hasAnyRole('CENTRAL_ADMIN' ,'WARD_ADMIN', 'WARD_SECRETARY', 'REGISTRAR', 'PRINTER')">
                    <a th:href="@{/online-sifaris/standardlog}"
                       class="waves-effect"><i class="zmdi zmdi-map"></i> <span>फारम विवरण</span>
                    </a>
                </li>
<!--				<li>-->
<!--&lt;!&ndash;						sec:authorize="hasAnyRole('SUPER_ADMIN','CENTRAL_ADMIN' ,'WARD_ADMIN', 'WARD_SECRETARY', 'REGISTRAR', 'PRINTER')"&ndash;&gt;-->
<!--					<a th:href="@{/user/normal/register}"-->
<!--					   class="waves-effect"><i class="zmdi zmdi-map"></i> <span>अनलाईन सिफारिस युसर रेजिस्ट्रसन</span>-->
<!--					</a>-->
<!--				</li>-->
			</ul>
		</div>
		<!-- End side bar-wrapper -->
</body>
</html>